In [2]:
# Importamos las librerias que usaremos
!pip install pandas
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text

Requirement already satisfied: pandas in /opt/conda/envs/analisis_datosV2/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/envs/analisis_datosV2/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/analisis_datosV2/lib/python3.9/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/analisis_datosV2/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/envs/analisis_datosV2/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/analisis_datosV2/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
# Creamos el engine y la conexión a la BD. Aunque el engine puede emplearse directamente en consultas 
# read_sql, la conexión se crea para tener un mayor manejo de la misma. Cuando se emplea engine, la conexión
# se abre y cierra automáticamente. En cambio, con read_sql, el cierre es manual (se debe especificar con un
# query luego del read_sql).
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/db_movies_netflix_transact")
conn = engine.connect()

# Cargamos datos a la dimension Movie

In [4]:
# Armamos la consulta para seleccionar 6 campos de 4 entidades (tablas) diferentes.
query = """
SELECT 
    movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, 
    gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant 
FROM movie 
INNER JOIN participant 
ON movie.movieID=participant.movieID
INNER JOIN person
ON person.personID = participant.personID
INNER JOIN movie_gender 
ON movie.movieID = movie_gender.movieID
INNER JOIN gender 
ON movie_gender.genderID = gender.genderID
"""

In [5]:
# Con readsql corremos el query en la BD a la que nos conectamos con conn.
movies_data=pd.read_sql(query, conn) 
# Especificamos que el campo movieID es entero.
movies_data["movieID"]=movies_data["movieID"].astype('int')
movies_data

,movieID,title,releaseDate,gender,participantName,roleparticipant
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director

In [6]:
# Leemos el archivo csv con la función read_csv 
movies_award=pd.read_csv("./data/Awards_movie.csv")
# Especificamos que los datos de la columna movieID son enteros con el método astype
movies_award["movieID"]=movies_award["movieID"].astype('int')
# Cambiamos el nombre de la columna "Aware" por "Award" con el método rename y especificamos que el cambio
# se realice sobre el dataframe original con el parámetro inplace y argumento True.
movies_award.rename(columns={"Aware":"Award"}, inplace=True)
movies_award

    movieID  IdAward   Award
0  80210920        0   Oscar
1  81157374        1  Grammy
2  80192187        2   Oscar

In [7]:
# Unimos las tablas movies_data y movies_award empleando la función merge y los especificando el argumento
# "movieID" en los parámetros left_on y right_on
movie_data=pd.merge(movies_data,movies_award, left_on="movieID", right_on="movieID")
movie_data

,movieID,title,releaseDate,gender,participantName,roleparticipant,IdAward,Award
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy

In [8]:
# Creamos el engine y la conexión a la BD "dw_netflix" que es donde colocaremos los datos del CSV y la
# BD "db_movies_netflix_transact".
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/dw_netflix")
conn = engine.connect()

In [9]:
# Cambiamos los nombres de las columnas releaseDate y award del dataframe movie_data con el método rename
movie_data = movie_data.rename(columns={'releaseDate': 'releaseMovie', 'Award': 'awardMovie'})

In [10]:
# Eliminamos la columna IdAward del dataframe movie_data con el método drop
movie_data = movie_data.drop(columns=['IdAward'])

In [11]:
movie_data.head()

,movieID,title,releaseMovie,gender,participantName,roleparticipant,awardMovie
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,Grammy

In [12]:
# Con el método to_sql pasamos los datos del dataframe movie_data a la tabla dimMovie de la BD dw_netflix
# establecida en la conexión conn. En caso exista una tabla dimMovie, añadimos los datos de movie_data (sin)
# considerar la columna del índice.
movie_data.to_sql('dimMovie',conn,if_exists='append', index=False)

3

In [13]:
# Verificamos que los datos se hayan trasladado. Para esto, leemos la tabla dimMovie empleando el método
# read_sql.
pd.read_sql('dimMovie', con=conn)

,movieID,title,releaseMovie,gender,participantName,roleparticipant,awardMovie
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,Grammy

# Cargamos datos a la dimension USER

In [14]:
# Leemos y escribimos los datos del archivo csv user.csv en el dataframe users. Especificamos que el
# separador es |.
users = pd.read_csv("./data/users.csv", sep='|')
users

      idUser     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [15]:
# Renombramos la columna idUser del dataframe users, y guardamos los cambios en el dataframe en mención.
users = users.rename(columns={'idUser': 'userID'})
users

      userID     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [16]:
# Mediante el método to_sql escribimos los datos del dataframe users en la tabla dimUser de la BD dw_netflix
# establecida en la conexión conn. En caso exista la tabla en mención, los datos se añaden a los existentes.
# No se escribe el índice del dataframe.
users.to_sql('dimUser',conn,if_exists='append', index=False)

20

# Cargamos datos a la tabla de hechos

In [17]:
# Creamos los dataframes users_id y movies_id que contienen respectivamente los datos de la columna userID
# del dataframe users y de la columna movieID del dataframe movies_data.
users_id=users["userID"]
movies_id=movies_data["movieID"]

In [18]:
# Unimos dataframes creados empleando una unión de tipo cross empleando la función merge. Los datos
# producidos se guardan en un nuevo dataframe llamado watchs_data.
watchs_data=pd.merge(users_id,movies_id, how="cross")
watchs_data

      userID   movieID
0    1002331  80192187
1    1002331  80210920
2    1002331  81157374
3    1002332  80192187
4    1002332  80210920
5    1002332  81157374
6    1002333  80192187
7    1002333  80210920
8    1002333  81157374
9    1002334  80192187
10   1002334  80210920
11   1002334  81157374
12   1002335  80192187
13   1002335  80210920
14   1002335  81157374
15   1002336  80192187
16   1002336  80210920
17   1002336  81157374
18   1002337  80192187
19   1002337  80210920
20   1002337  81157374
21   1002338  80192187
22   1002338  80210920
23   1002338  81157374
24   1002339  80192187
25   1002339  80210920
26   1002339  81157374
27  10023310  80192187
28  10023310  80210920
29  10023310  81157374
30  10023311  80192187
31  10023311  80210920
32  10023311  81157374
33  10023312  80192187
34  10023312  80210920
35  10023312  81157374
36  10023313  80192187
37  10023313  80210920
38  10023313  81157374
39  10023314  80192187
40  10023314  80210920
41  10023314  81157374
42  10023315  80192187
43  10023315  80210920
44  10023315  81157374
45  10023316  80192187
46  10023316  80210920
47  10023316  81157374
48  10023317  80192187
49  10023317  80210920
50  10023317  81157374
51  10023318  80192187
52  10023318  80210920
53  10023318  81157374
54  10023319  80192187
55  10023319  80210920
56  10023319  81157374
57  10023320  80192187
58  10023320  80210920
59  10023320  81157374

In [19]:
# Importamos los módulos random y datetime. En el módulo datetime, importamos las clases datetime y
# timedelta a fin de nombrarlas sin necesidad de mencionar primero el módulo.
import random
from datetime import datetime, timedelta
import random

# Creamos la función gen_rating
def gen_rating():
    # Generar un número aleatorio entre 0 y 5 con 1 solo decimal
    numero_aleatorio = round(random.uniform(0, 5), 1)
    # Mostrar el número aleatorio
    return numero_aleatorio

#Creamos la función gen_timestamp para generar un timestamp aleatorio dentro de un rango específico
def gen_timestamp():
    # Creamos las variables que contienen la fecha de inicio y término de nuestro rango.
    start_date = datetime(2024, 1, 15)
    end_date = datetime(2024, 4, 6)

    # Calcular un timestamp aleatorio a partir de la suma entre la fecha de inicio y una cantidad aleatoria de segundos transcurridos entre start_date y una fecha dentro del rango.
    random_date = start_date + timedelta(seconds=random.randint(0, int((end_date - start_date).total_seconds())))

    # Mostrar el timestamp aleatorio
    return random_date

In [20]:
# Para cada registro de la columna movieID del df watchs_data, la función lambda genera un rating aleatorio
# con ayuda de la función gen_rating(). Los datos se almacenan en la columna rating del df watchs_data.
watchs_data["rating"]=watchs_data["movieID"].apply(lambda x: gen_rating())
# Para cada registro de la columna userID del df watchs_data, la función lambda genera un timestamp aleatorio
# con ayuda de la función gen_timestamp(). Los datos se almacenan en la columna timestamp del df watchs_data.
watchs_data["timestamp"]=watchs_data["userID"].apply(lambda x: gen_timestamp())

In [21]:
# Verificamos los cambios aplicados en el df watchs_data
watchs_data

      userID   movieID  rating           timestamp
0    1002331  80192187     4.7 2024-01-29 06:34:21
1    1002331  80210920     3.2 2024-01-17 00:42:21
2    1002331  81157374     1.7 2024-02-11 00:17:05
3    1002332  80192187     2.0 2024-02-07 09:39:32
4    1002332  80210920     3.6 2024-02-10 09:56:54
5    1002332  81157374     5.0 2024-02-06 13:41:17
6    1002333  80192187     3.7 2024-03-08 21:28:20
7    1002333  80210920     1.3 2024-01-27 10:56:30
8    1002333  81157374     0.8 2024-04-03 06:45:17
9    1002334  80192187     4.0 2024-03-23 07:06:12
10   1002334  80210920     4.0 2024-02-24 03:40:59
11   1002334  81157374     3.5 2024-03-08 16:42:25
12   1002335  80192187     4.1 2024-02-27 08:10:41
13   1002335  80210920     0.6 2024-02-12 05:35:28
14   1002335  81157374     2.8 2024-02-01 01:27:35
15   1002336  80192187     2.0 2024-02-13 16:53:14
16   1002336  80210920     1.7 2024-01-31 08:16:08
17   1002336  81157374     1.3 2024-02-15 10:25:21
18   1002337  80192187     3.4 2024-02-24 07:40:31
19   1002337  80210920     0.4 2024-02-23 14:08:21
20   1002337  81157374     4.3 2024-03-06 17:58:47
21   1002338  80192187     3.9 2024-02-14 14:37:42
22   1002338  80210920     1.4 2024-01-29 03:18:26
23   1002338  81157374     1.1 2024-02-27 01:42:02
24   1002339  80192187     2.3 2024-01-24 19:11:45
25   1002339  80210920     2.1 2024-03-05 06:14:51
26   1002339  81157374     3.1 2024-03-28 02:01:42
27  10023310  80192187     0.8 2024-03-26 12:14:35
28  10023310  80210920     0.5 2024-01-26 09:37:19
29  10023310  81157374     2.3 2024-03-20 13:26:52
30  10023311  80192187     5.0 2024-03-23 15:40:25
31  10023311  80210920     3.4 2024-02-22 22:36:34
32  10023311  81157374     3.4 2024-02-23 19:55:57
33  10023312  80192187     1.0 2024-02-19 04:45:42
34  10023312  80210920     1.3 2024-03-15 09:45:50
35  10023312  81157374     2.6 2024-04-02 06:30:01
36  10023313  80192187     3.7 2024-03-01 05:56:36
37  10023313  80210920     1.6 2024-03-30 04:56:58
38  10023313  81157374     1.1 2024-03-20 16:06:35
39  10023314  80192187     0.2 2024-02-17 04:42:47
40  10023314  80210920     4.6 2024-03-23 11:39:27
41  10023314  81157374     4.1 2024-03-18 01:18:37
42  10023315  80192187     3.0 2024-03-16 03:31:41
43  10023315  80210920     3.4 2024-01-24 12:47:54
44  10023315  81157374     2.8 2024-01-22 06:06:40
45  10023316  80192187     1.4 2024-03-08 02:52:43
46  10023316  80210920     1.9 2024-03-06 20:13:00
47  10023316  81157374     4.7 2024-01-29 19:11:12
48  10023317  80192187     0.8 2024-03-27 02:06:56
49  10023317  80210920     0.2 2024-01-28 11:14:46
50  10023317  81157374     1.1 2024-01-26 23:24:04
51  10023318  80192187     4.4 2024-02-19 11:47:32
52  10023318  80210920     0.8 2024-01-16 22:02:50
53  10023318  81157374     2.2 2024-03-14 14:55:07
54  10023319  80192187     4.4 2024-02-25 00:36:29
55  10023319  80210920     1.5 2024-03-21 00:48:44
56  10023319  81157374     1.3 2024-02-24 14:48:50
57  10023320  80192187     2.8 2024-02-04 17:57:24
58  10023320  80210920     3.5 2024-02-16 05:16:55
59  10023320  81157374     2.2 2024-02-27 02:34:43

In [22]:
# Mediante el método to_sql escribimos los datos del dataframe watchs_data en la tabla FactWatchs de la BD 
# dw_netflix establecida en la conexión conn. En caso exista la tabla en mención, los datos se añaden a los 
# existentes. No se escribe el índice del dataframe.
watchs_data.to_sql("FactWatchs", conn, if_exists='append', index=False)

60

In [23]:
### SET FOREIGN_KEY_CHECKS = 0;
### SET FOREIGN_KEY_CHECKS = 1;